body {
    background-image: url(./piano_bg.png);
    background-color: white;
    background-size:     cover;       
    /* background-size: contain; */
    background-repeat: no-repeat;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


.header {
    position: fixed;
    top: 0;
    /* overflow: hidden; */
    z-index: 10;
    width: 100%;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    /* font-size: 36px; */
}

.header a.logo {
    font-size: 50px;
    /* font-weight: bold; */
    font-family: Futura, sans-serif;
    margin-top: 70px;
    margin-left: 85px;
}

.header-right {
    /* position: flex; */
    float: right;
}

.header a.menu {
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
}

p.tag-line {
    left: 80px;
    position: absolute;
    top: 30%;
    font-size: 72px;
    color: white;
}


p.description {
    left: 80px;
    position: absolute;
    top: 70%;
    font-size: 40px;
    color: white;
}

/* div.main {
    background-image: url('./piano_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: fixed;
}  */


.menu:active {
    font-weight: bold;
    color: black;
}

p {
    color: white;
}


p.mission {
    /* color: white; */
    /* font-size: 72px; */
    /* margin-top: 20px; */
    /* position: absolute; */
    /* z-index: 100; */
}

#mission-1 {
    /* position: absolute;
    top: 20%; */
    left: 80px;
    position: absolute;
    top: 15%;
    font-size: 72px;
    color: white;
}

#mission-2 {
    /* position: absolute;
    top: 20%; */
    text-align: right;
    right: 80px;
    position: absolute;
    top: 40%;
    font-size: 72px;
    color: white;
}

#mission-3 {
    /* position: absolute;
    top: 20%; */
    left: 80px;
    position: absolute;
    top: 65%;
    font-size: 72px;
    color: white;
}

div.mission {
    width: 100%;
}

div.prototype {
    left: 80px;
    position: absolute;
    top: 25%;
    display: flex;
}

p.prototype {
    font-size: 45px;
    margin-top: 50px;
}

#gloves {
    width: 550px;
    height: 860px;
    right: 80px;
    top: 15%;
    position: absolute;
    /* display: flex; */
    /* top: 20%; */
}

div.row {
    align-items: center;
}

#hosung {
    top: 20%;
    left: 15%;
    position: absolute;
}

#juha {
    top: 20%;
    left: 40%;
    position: absolute;
}

#jin {
    top: 20%;
    left: 65%;
    position: absolute;
}

p.corny {
    padding-left: 0;
    margin-top: 35%;
    text-align: center;
    color: white;
    font-size: 45px;
    
}

p.corny > span {
    background: #1f1f1f;
}

/* #mission-3 {
    text-align: left;
    left: 80px;
    position: absolute;
    top: 70%;
    font-size: 72px;
    color: white;
} */