body {
    /* background-image: url(‘./piano_bg.png’); */
    background-color: white;
    /* background-size:     cover;        */
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

img {
    min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 0;
  position: relative;
  /* overflow: hidden; */
}

.header {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    /* font-size: 36px; */
}

.header a.logo {
    font-size: 50px;
    /* font-weight: bold; */
    font-family: Futura, sans-serif;
    margin-top: 70px;
    margin-left: 85px;
}

.header-right {
    /* position: flex; */
    float: right;
}

.header a.menu {
    font-size: 30px;
    /* font-weight: bold; */
    color: white;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 65px;
}

p.tag-line {
    left: 80px;
    position: absolute;
    top: 30%;
    font-size: 72px;
    color: white;
}


p.description {
    left: 80px;
    position: absolute;
    top: 70%;
    font-size: 40px;
    color: white;
}

div.main {
    /* background-image: url('./piano_bg.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    position: fixed;
}